HOST=0.0.0.0
PORT=8080
APP_ENV=development

DATABASE_URL=postgresql://postgres.urtbiaobabeyexsfdjhw:bdt~e%3EZK%3DE%217U75@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://urtbiaobabeyexsfdjhw.supabase.co
SUPABASE_ANON_KEY=sb_publishable_MunarmAa-9wPPJNeoecsmg_8gjubDdw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVydGJpYW9iYWJleWV4c2Zkamh3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM4MDM1OSwiZXhwIjoyMDk3OTU2MzU5fQ.n3iU2pXsVyJk1Vqudi61V03tRiwzEfHKsed7_1j3jwU

DOUBLETICK_API_KEY=key_nyB16JSaLrh5Ut0me6JkFlASYpmnzjt2jsDXD1eG3bnKDQsAoFcC8ZGDAmaKIIjTlqzS83sXK5z7js36yhDs24Vy7xM3gupTaLLenWuyIArTJEWptaimBXEXC3KQUZ82rebpYnvJYeggEiMaoOPau9WyuSdkF7mzbNHCZSnyZvWmJUuX4QOglEbuZhmyeP9SlIc5gwjkMUKddwOeByHtZj5z846TEXRJKLh0nJHaS8y8QwnVbFAnMzPptDRm
WABA_PHONE_NUMBER_ID=+917594086900
DOUBLETICK_WEBHOOK_SECRET=

JWT_SECRET=f3b57e4e1a0b3f89d4c5a7f92b41c0e3a6d7f8c2b5e1a9d4f6c8e0b2a4d3c9e1